body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header CSS */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;

}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    justify-self: center;
    padding-left: 100px;
}

.header ul {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    list-style-type: none;
    gap: 15px;
    font-weight: 400;
    padding-right: 100px;

}

.logo {
    background-color: transparent;
    padding-left: 3%;
    padding-top: 10px;
}

/* Hero Css */

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    gap: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.hero-left {
    display: flex;
    flex-basis: 700px;
    flex-direction: column;
}

.hero img { 
    width: 100%;
    height: auto;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.hero-left p, .hero-left button{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-left button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #3882F6;
    text-align: center;
    padding: 10px;
    display: block;
    border: none;
}

.hero-left button:hover {
    background-color: lightgray;
    color: black;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.4), 0 6px 20px 0 rgba(255, 255, 255, 0.19);

}

/* Layer 1 Css */

.layer1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    flex-flow: row wrap;
    padding-bottom: 40px;
}

.card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.card img {
    width: 200px;
    height: 200px;
    border: 3px #1F2937;
    border-radius: 10px;
}

.layer1-h1 {
    display: flex;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Layer 2 Css */

.layer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 25%;
    background-color: #E5E7EB;
}

.source {
    padding-right: 1%;
    align-self: flex-end;
    font-weight: bold;
    font-size: 25px;

}

.layer2 h2 {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

/* Layer 3 Css */

.layer3 {
    display: flex;
    margin: 70px 25%;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: space-around;
    border: none;
    align-items: center;
    padding: 30px 20px;
}

.layer3 button {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #F9FAF8;
    text-align: center;
    padding: 10px;
    display: block;
    color: #F9FAF8;
    font-size: 16px;
    
}

.layer3 button:hover {
    background-color: lightslategray;
    color: black;
    border-color: black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.layer3 h2 {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: -10px;
}

.layer3 p {
    color: #E5E7EB;
    font-size: 16px;
}

.layer3-left {
    padding-right: 5px;
}

/* Footer Css */

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 16px;
    justify-content: center;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}